<html>
<body>
<head>
<meta></meta charset = "UTF-8"><title>Chatwheel Controls</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<h1 style= "text-align: center; background: blue; color:white;">Chatwheel Controls</h1>
<p style= "text-align: center; font-size: 20px; color: blue;">Note: This page is optimized for a portrait view, such as a smartphone. If this is not an option, for best results, zoom out so the entire page is visible at once.</p>
<table style= "width: 100%; font-size: 45px">
 <tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/alldead/">alldead</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/allhail/">allhail</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/applause/">applause</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/athing/">athing</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/blame/">blame</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/brutal/">brutal</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/charge/">charge</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/chest/">chest</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/china1/">china1</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/china2/">china2</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/china3/">china3</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/china4/">china4</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/china5/">china5</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/crash/">crash</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/creak/">creak</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/crickets/">crickets</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/crybaby/">crybaby</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/dietogether/">dietogether</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/disastah/">disastah</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/drumroll/">drumroll</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/fatality/">fatality</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/finishhim/">finishhim</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/foodplease/">foodplease</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/friendship/">friendship</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/frog/">frog</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/headshake/">headshake</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/headshot/">headshot</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/hey/">hey</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/itisgood/">itisgood</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/justice/">justice</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/leeroy/">leeroy</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/listen/">listen</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/monk/">monk</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/no/">no</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/nora/">nora</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/onlyagame/">onlyagame</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/patience/">patience</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/rimshot/">rimshot</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/russia1/">russia1</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/russia2/">russia2</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/russia3/">russia3</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/russia4/">russia4</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/russia5/">russia5</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/startthegame/">startthegame</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/toasty/">toasty</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/trombone/">trombone</a></div></td>
</tr>
<tr>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/waow/">waow</a></div></td>
<td width="50%"> <div style= "background: powderblue; border-radius: 25px; text-align: center;"><a href="/wololo/">wololo</a></div></td>
</tr>
</table>
</body>
</html>
